.advantages {
    background: #f2f2f2;
}
.advantages__header {
    background: #ffffff;
    padding-bottom: 30px;
}
.advantages__title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  text-align: center;
}
.advantages__wrapper {
  @include wrapper;
  max-height: 790px;
  @media ($tablet-widths) {
    display: flex;
  }
}
.advantages__list {
  @include ul-reset;
}
.advantages__item {
  &:first-child {
    padding-top: 90px;
  }
}
.advantages__slogan {
  display: block;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  @media ($tablet-widths) {
    text-align: left;
    padding-left: 20px;
      }
}
.advantages__text {
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  margin-top: 0;
  margin-bottom: 0;
  @media ($tablet-widths) {
    text-align: left;
      }
}
.advantages__image {
  display: block;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  @media ($tablet-widths) {
    order: -1;
    }
}
