.callback {

}
.callback__title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  text-align: center;
  background: #ffffff;
  padding-top: 40px;
  padding-bottom: 40px;
  margin: 0;
  @media ($desktop-widths) {
    font-size: 50px;
    line-height: 57px;
    padding-top: 35px;
  }
}
.callback__wrapper {
  @include wrapper;
  display: flex;
  @media ($desktop-widths) {
    justify-content: space-around;

  }
}
.callback__element {
  padding-top: 20px;
  padding-left: 15px;
  &--email {
    @media ($desktop-widths) {
      order: 1;
    }
  }
  &--adress {
    @media ($desktop-widths) {

    }
  }
}
.callback__headers {
  display: block;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
}
.callback__anchors {
  display: block;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  color: $pink;
  text-align: center;
  text-decoration: none;
  padding-bottom: 25px;
  @media ($desktop-widths) {
    padding-top: 20px;
  }
}
