.download {

}

.download__list {
  @include ul-reset;
}
.download__item {

}
.download__link {

}
.download__image {
  
}
.download__description {
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  color: #fff;
  text-align: center;
}
