.form {
  @include wrapper;
}

.form__body {

  @media ($desktop-widths) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.form__block {

  &--grey {
    background: #f2f2f2;
  }
  &--fullname {

    @media ($desktop-widths) {
      order: 0;
      display: flex;
      flex-direction: column;
    }
  }

  &--checkboxes {

    @media ($desktop-widths) {
      order: 3;
      flex-basis: 100%;
    }

  }
  &--contactsmobile {
    @media ($desktop-widths) {
      display: none;
    }

  }
  &--contacts {
    display: none;
    @media ($desktop-widths) {
    display: block;
    flex-basis: 100%;
    order: 2;
    }

  }
  &--radio {

    @media ($desktop-widths) {
      order: 1;
    }

  }
  &--textarea {

    @media ($desktop-widths) {
      order: 4;
      flex-basis: 100%;
    }

  }

  &--submit {

    @media ($desktop-widths) {
      order: 5;
      display: flex;
      flex-basis: 100%;
      align-items: baseline;
    }
  }
}
.form__header {
  display: block;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: $pink;
  padding-top: 20px;
  padding-bottom: 5px;
    @media ($desktop-widths) {
      display: flex;
      align-items: baseline;
    }

  &--contacts {
    @media ($desktop-widths) {
      display: flex;
    }

  }
}

.form__text {
  font-size: 18px;
  line-height: 30px;
  color: $dark-blue;
  border: 2px solid #e5e5e5;
  border-radius: 5px;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: 20px;

  &:last-child {
    margin-bottom: 40px;
  }
  @media ($desktop-widths) {
    flex-grow: 1;
  }
}

::-webkit-input-placeholder { color: $dark-blue; }
::-moz-placeholder          { color: $dark-blue;; }
:-moz-placeholder           { color: $dark-blue;; }
:-ms-input-placeholder      { color: $dark-blue;; }


.form__fieldset {
  border: none;
  padding: 0;
  margin: 0;
  @media ($desktop-widths) {
    background: #fff;
    border: 1px solid #c0c0c0;
    padding: 40px;
  }
}

.form__legend {
  font-size: 14px;
  line-height: 18px;
  color: $pink;
  text-align: center;
  text-transform: uppercase;
  padding: 40px;
  padding-bottom: 40px;
}

.form__input-container {
  @media ($desktop-widths) {
    display: flex;
    justify-content: space-around;
  }
}

.form__input-area {

  @media ($desktop-widths) {
    display: flex;
    flex-direction: column;
    flex-basis: 375px;
    box-sizing: border-box;
    padding-bottom: 50px;
  }
}

.form__label {

}

.form__checkbox-container {

  @media ($desktop-widths) {
    display: flex;
  }
}
.form__checkbox-group {
  @media ($desktop-widths) {

  }
}
.form__checkbox-text {
  display: block;
  position: relative;
  font-size: 18px;
  line-height: 30px;
  padding-left: 90px;
  padding-right: 10px;
  padding-bottom: 45px;
  &::before {
    content: "";
    display: block;
    position: absolute;
    left: 20px;
    top: -2px;
    box-sizing: border-box;
    width: 35px;
    height: 35px;
    background: #fff;
    border: 2px solid #e5e5e5;
  }

}

.form__checkbox {
  display: none;
  &:checked ~ .form__checkbox-text::before {
    background: #fff url("../img/icon-yes.svg") center no-repeat;
    background-size: 70%;
  }
}

.form__tel {
  font-size: 18px;
  line-height: 30px;
  color: $dark-blue;
  border: 2px solid #e5e5e5;
  border-radius: 5px;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  order: -1;
}
.form__email {
  font-size: 18px;
  line-height: 30px;
  color: $dark-blue;
  border: 2px solid #e5e5e5;
  border-radius: 5px;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 50px;
  order: -1;

  @media($desktop-widths) {
    margin-bottom: 0;
  }
}

.form__radio-text {
  display: block;
  position: relative;
  font-size: 18px;
  line-height: 30px;
  padding-left: 90px;
  padding-right: 10px;
  padding-bottom: 45px;
  &::before {
    content: "";
    display: block;
    position: absolute;
    left: 20px;
    top: -2px;
    box-sizing: border-box;
    width: 35px;
    height: 35px;
    background: #fff;
    border: 2px solid #e5e5e5;
    border-radius: 50%;
  }
}
.form__radio {
  display: none;
  &:checked ~ .form__radio-text::before {
    background: $pink;
    border: 10px solid #fff;
    box-shadow: 0px 0px 0px 2px #e5e5e5;
  }
}
.form__textarea {
  font-size: 18px;
  line-height: 30px;
  color: $dark-blue;
  font-family: $opensans;
  padding: 20px;
  width: 100%;
  min-height: 200px;
  box-sizing: border-box;
  border: 2px solid #e5e5e5;
}
.form__button {
  display: block;
  margin: 0 auto;
  font-family: $opensans;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  background: #2aab6d;
  border: none;
  outline: none;
  border-radius: 2px;
  padding: 10px 45px;
  margin-top: 50px;
  @media ($desktop-widths) {
    margin: 0;
  }
}
.form__notice {
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding-top: 40px;
  @media ($desktop-widths) {
    margin-left: auto;
  }
}
.form__star {
  color: $pink;
}
