.main-nav {
  background-color: $dark-blue;
  &--closed {
    background: rgba(0, 0, 0, .3);
  }
}
.main-nav__header {
  min-height: 70px;
  @media ($tablet-widths) {
    min-height: 110px;
  }
  @media ($desktop-widths) {
    min-height: auto;
    width: 350px;
  }
}
.main-nav__wrapper {
  @media ($desktop-widths) {
    @include wrapper;
    display: flex;
    min-height: 110px;
    align-items: center;
  }
}
.main-nav__logo {
  padding: 21px;
}
.main-nav-header__image {

}
.main-nav__toogle {

  &--closed {

  }
}
.main-nav__body {
  flex-grow: 1;
  &--closed {
/*    display: none; */
  }
}

.main-nav__list {
  background-color: $dark-blue;
  font-family: $opensans;
  @include ul-reset;
  @media ($desktop-widths) {
    display: flex;
    justify-content: space-around;
    background: none;
  }
}
.main-nav__item {
  border-bottom: 1px solid #000000;
  border-top: 1px solid rgba(255, 255, 255, .75);
  text-align: center;
  &--active {

  }
  @media ($desktop-widths) {
    border: none;
  }
}
.main-nav__anchor {
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  line-height: 32px;
  text-transform: uppercase;
  font-weight: bold;
    @media ($desktop-widths) {
      text-transform: capitalize;
      font-weight: normal;
    }
}
