.page-body {
  @include container;
  font-family: $opensans;
  color: $dark-blue;
}
.page-body__description {
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  padding: 40px 20px;
  padding-bottom: 20px;
  margin: 0;
  background: #fff;
  &--gallery,  &--userpost {
    padding-bottom: 50px;
  }
}
