.page-header {
  font-family: $opensans;
  color: $dark-blue;
  background: $dark-blue;
&--short {
  min-height: 280px;
}
}

.page-header__container {
  @include container;
  background: $dark-blue url("../img/bg-back-mobile@1x.jpg");
  background-size: cover;
}
