.page-body {
  font-family: $opensans;
  color: $dark-blue;

  &__container {
    @include container;
  }
  &__ask {
    display: none;
    @media ($tablet-widths) {
      display: inline;
    }
  }
  &__description {
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    padding: 45px 15px;
    padding-bottom: 20px;
    margin: 0;
    background: #fff;
    &--gallery,  &--userpost {
      padding-bottom: 50px;
    }
    @media ($tablet-widths) {
      font-size: 18px;
      &--form {
        padding: 90px 60px 50px;
      }
    }
    @media ($desktop-widths) {
      padding: 90px 100px;
      &--form {
        padding: 90px 90px 30px;
      }
    }
  }
}
