.price {
  padding-top: 90px;
  background: #f2f2f2;

  @media ($desktop-widths) {
    min-height: 525px;
    box-sizing: border-box;
  }
}
.price__wrapper {
  @include wrapper;
}
.price__list {
@include ul-reset;
}
.price__item {
  display: inline-block;
  width: 280px;
  @media ($tablet-widths) {
    width: 230px;
  }
}
.price__header {
  position: relative;
  background: $dark-blue;
  border: 1px solid white;
  &--hit::before {
    content: "ХИТ";
    display: block;
    width: 70px;
    border-bottom: 100px solid $pink;
  	border-left: 50px solid transparent;
  	border-right: 50px solid transparent;
  	height: 0;
    position: absolute;
    font-size: 14px;
    line-height: 30px;
    font-weight: 500;
    text-align: center;
    color: #fff;

  }
}
.price__title {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  padding-top: 20px;
  margin: 0;
}
.price__rate {
  display: block;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 20px;
}
.price__body {
  font-size: 0;
  background: #fff;
  &--left {
    display: none;
    @media ($tablet-widths) {
      display: block;
      margin-top: 102px;
    }
  }
}
.price__row {
  font-size: 14px;
  line-height: 30px;
  color: $dark-blue;
  text-transform: uppercase;
  outline: 1px solid #e5e5e5;
  @media ($tablet-widths) {
    text-align: center;
  }
}
.price__option {
    padding: 25px;
    text-align: left;

}
.price__attribute {
  display: inline-block;
  vertical-align: top;
  padding: 25px;
  width: 150px;
  @media ($tablet-widths) {
    display: none;
  }
}
.price__value {
  display: inline-block;
  vertical-align: top;
  width: 80px;
  height: 80px;
  &--yes {
    background: #fff url("../img/icon-yes.svg") center no-repeat;
    background-size:  31px, 21px;
  }
  &--no {
    background: #fff url("../img/icon-no.svg") center no-repeat;
    background-size:  27px, 26px;
  }
}
.price__toggles {
  padding-top: 40px;
  padding-bottom: 50px;
}
.price__toggle {
  width: 8px;
  height: 8px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  background-color: rgba(40, 54, 69, .3);
  margin: 0 7px;
  &:hover {
    cursor: pointer;
  }
}
#price-input-1:checked ~ .price__toggles .price__toggle--1,
#price-input-2:checked ~ .price__toggles .price__toggle--2,
#price-input-3:checked ~ .price__toggles .price__toggle--3 {
    background-color: #fff;
    border: 3px solid #283645;
    box-sizing: border-box;
    width: 11px;
    height: 11px;
}

#price-input-1:checked ~ .slider__inner .slider__slides {
    transform: translate(20px);
    @media ($tablet-widths) {
      transform: none;
    }
}
#price-input-2:checked ~ .slider__inner .slider__slides {
    transform: translate(-260px);
    @media ($tablet-widths) {
      transform: none;
    }
}
#price-input-3:checked ~ .slider__inner .slider__slides {
    transform: translate(-520px);
    @media ($tablet-widths) {
      transform: none;
    }
}
