.promo {
  min-height: 743px;
  box-sizing: border-box;
  background-image: url("../img/iphone-hand-mobile@1x.png");
  background-repeat: no-repeat;
  @media ($tablet-widths) {
    background-position: 200px 125px;
    background-size: 450px;
  }
  @media ($desktop-widths) {
    background-position: 570px bottom;
  }
  &--short {
    min-height: auto;
    background: none;
  }
}
.promo__wrapper {
  @include wrapper;
  @media ($tablet-widths) {

  }
    @media ($desktop-widths) {

    }
}
.promo__menu {
  min-height: 70px;
  @media ($tablet-widths) {
    min-height: 110px;
  }
 }
.promo__block {
  @media ($tablet-widths) {

  }
  @media ($desktop-widths) {
    width: 300px;
    padding-left: 10px;
  }
}

.promo__title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  text-align: center;
  color: #fff;
  padding: 30px 45px 50px;
  margin: 0;
  @media ($tablet-widths) {
    font-size: 40px;
    line-height: 50px;
    padding-bottom: 0;
    padding-right: 60px;
  }
  @media ($desktop-widths) {
    font-size: 50px;
    padding: 0;
    line-height: 60px;
    padding-top: 110px;
    padding-bottom: 50px;
  }
  &--hidden {
    display: none;
    @media ($tablet-widths) {
      display: block;
    }
  }
}
