.slider {
  position: relative;

}
.slider__inner {
    overflow: hidden;
}
.slider__input {
display: none;
}
.slider__slides {
    width: 300%;
    transition: transform .8s ease;
    font-size: 0;
}
.slider__item {
  width: 320px;
  display: inline-block;
  @media ($tablet-widths) {
    width: 700px;
  }
  @media ($desktop-widths) {
    width: 1200px;
  }
}
.slider__toggles {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  z-index: 100;
  text-align: center;
}
.slider__toggle {

}
