.advantages {
    background: #f2f2f2;
}
.advantages__header {
    background: #ffffff;
    padding-bottom: 30px;

    @media ($tablet-widths) {

    }
    @media ($desktop-widths) {
    }
}
.advantages__title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  text-align: center;
  margin: 0;
  @media ($tablet-widths) {
    font-size: 40px;
    line-height: 50px;
    padding-top: 47px;
    &--last {
    padding: 0 120px;
    }
  }
  @media ($desktop-widths) {
    font-size: 50px;
    line-height: 60px;
    padding-top: 67px;
    &--last {
    padding: 0 120px;
    }
  }

}
.advantages__wrapper {
  @include wrapper;
  padding-top: 30px;
  @media ($tablet-widths) {
    padding-top: 0;
    &::after {
      content: "";
      display: table;
      clear: both;
    }
  }
}
.advantages__screenshots {
  display: flex;
  flex-direction: column;
  max-height: 790px;
  @media ($tablet-widths) {
    display: block;
  }
  @media ($desktop-widths) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.advantages__screen {
  display: none;
  &--main {
    display: block;
    order: 1;
  }
  @media ($tablet-widths) {
    display: none;
    &--main {
      display: block;
      float: left;
      order: 0;
      padding-left: 20px;
      padding-top: 15px;
    }
  }
  @media ($desktop-widths) {
    display: block;
    width: 320px;
    padding-top: 50px;
    &--main {
      padding-left: 0;
    }
  }
}
.advantages__item {

  @media ($tablet-widths) {
    float: right;
    max-width: 340px;
    padding-top: 40px;
    padding-right: 30px;
  }
  @media ($desktop-widths) {
    width: 320px;
    padding-top: 60px;
    padding-right: 0;
    background: #f2f2f2;
      &:first-child {
      padding-top: 0;
      }
  }
  &--first {
    @media ($tablet-widths) {
      padding-top: 83px;
    }
    @media ($desktop-widths) {
      padding-top: 60px;
    }
  }
}
.advantages__slogan {
  display: block;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  text-align: center;
  @media ($tablet-widths) {
    text-align: left;
    padding-left: 40px;
  }
    @media ($desktop-widths) {
      font-size: 30px;
      line-height: 30px;
      text-align: center;
      padding: 0 40px;
    }
}
.advantages__text {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  padding-left: 40px;
  padding-right: 20px;
  padding-bottom: 20px;
  margin-top: 0;
  margin-bottom: 0;
  @media ($tablet-widths) {
    text-align: left;
    padding-top: 10px;
    padding-right: 0;
    padding-bottom: 0;
  }
  @media ($desktop-widths) {
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    padding: 25px 40px;
  }
}
.advantages__image {
  display: block;
  margin: 0 auto;
  @media ($tablet-widths) {
    width: 260px;
    height: 500px;
  }
  @media ($desktop-widths) {
    width: 292px;
    height: 302px;
  }
}
