.callback {
  position: relative;
  background: #fff;
  z-index: 100;
  &::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    background: transparent url("../img/bg-triangle-white-footer.svg") no-repeat;
    height: 72px;
    background-size: 100% 100%;
    top: 94%;
    @media ($tablet-widths) {
      top: 99%;
    }
  }
}

.callback__title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  text-align: center;
  padding-top: 0;
  padding-bottom: 30px;
  margin: 0;
  @media ($tablet-widths) {
    font-size: 40px;
    line-height: 50px;
    padding-top: 40px;
    padding-bottom: 25px;
  }
  @media ($desktop-widths) {
    font-size: 50px;
    line-height: 57px;
    padding-top: 35px;
  }
}

.callback__wrapper {
  @include wrapper;
  display: flex;
  flex-wrap: wrap;
  @media ($tablet-widths) {
    justify-content: space-between;
  }
  @media ($desktop-widths) {
    justify-content: space-around;
  }
}

.callback__element {
  flex-basis: 100%;
  @media ($tablet-widths) {
    flex-basis: 50%;
    padding-top: 15px;
  }
  @media ($desktop-widths) {
    flex-basis: auto;
    padding-top: 35px;
    padding-left: 15px;
  }
  &--email {
    @media ($desktop-widths) {
      order: 1;
    }
  }
  &--adress {
    @media ($tablet-widths) {
      flex-basis: 100%;
      padding-top: 30px;
    }
    @media ($desktop-widths) {
      flex-basis: auto;
    }
  }
}

.callback__headers {
  display: block;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
}

.callback__anchors {
  display: block;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  color: $pink;
  text-align: center;
  text-decoration: none;
  padding-bottom: 25px;
  @media ($desktop-widths) {
    padding-top: 20px;
  }
}
