.form {
  @include wrapper;
  box-sizing: border-box;
  @media ($tablet-widths) {
    padding: 0 20px;
  }
  @media ($desktop-widths) {
    padding: 0 10px;
  }
}

.form__body {

  @media ($tablet-widths) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.form__block {
  padding: 0 10px;
  &--grey {
    background: #f2f2f2;
    @media ($tablet-widths) {
      background: inherit;
    }
  }
  &--fullname {

    @media ($tablet-widths) {
      order: 0;
      display: flex;
      flex-direction: column;
      flex-basis: 100%;
      min-height: 320px;
      justify-content: space-between;
      padding: 0;
    }
    @media ($desktop-widths) {
      flex-basis: 450px;
      padding-top: 35px;
    }
  }

  &--checkboxes {
      margin-top: 50px;
    @media ($tablet-widths) {
      order: 3;
      flex-basis: 100%;
      margin-top: 15px;
    }
    @media ($desktop-widths) {
      margin-top: 0;
    }

  }
  &--contactsmobile {
    margin-top: 27px;
    @media ($tablet-widths) {
      display: none;
    }

  }
  &--contacts {
    display: none;
    @media ($tablet-widths) {
    display: block;
    flex-basis: 100%;
    order: 2;
    padding-top: 23px;
    }

  }
  &--radio {
    @media ($tablet-widths) {
      padding-top: 15px;
      order: 1;
      flex-basis: 100%;
    }
    @media ($desktop-widths) {
      padding-top: 0;
      flex-basis: auto;
    }
  }
  &--textarea {
    margin-top: 17px;
    @media ($tablet-widths) {
      order: 4;
      flex-basis: 100%;
      margin-top: 0;
      padding-top: 15px;
    }
    @media ($desktop-widths) {
      padding-top: 30px;
    }
  }

  &--submit {

    @media ($tablet-widths) {
      order: 5;
      display: flex;
      flex-basis: 100%;
      align-items: baseline;
      padding-top: 44px;
      padding-bottom: 55px;
    }
    @media ($desktop-widths) {
      padding-bottom: 40px;
    }
  }
}
.form__header {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: $pink;
  padding-top: 15px;
  padding-bottom: 5px;
    @media ($tablet-widths) {
      padding-top: 20px;
      flex-direction: row;
      align-items: baseline;
    }
    &--contacts {
      @media ($tablet-widths) {
        padding-top: 5px;
        padding-left: 10px;
        padding-bottom: 20px;
      }
      @media ($desktop-widths) {
        padding-top: 0;
        padding-left: 21px;
        padding-bottom: 15px;
      }
    }
}
.form__signature {
  margin-left: 32px;
  @media ($tablet-widths) {
    margin-left: 0;
  }
  &--mobile {
    order: -10;
  }
}
.form__text {
  font-size: 18px;
  line-height: 30px;
  color: $dark-blue;
  border: 2px solid #e5e5e5;
  border-radius: 5px;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: 10px;
  margin-right: 10px;
  @media ($tablet-widths) {
    flex-grow: 1;
    margin-left: 20px;
  }
}

::-webkit-input-placeholder { color: $dark-blue; }
::-moz-placeholder          { color: $dark-blue;; }
:-moz-placeholder           { color: $dark-blue;; }
:-ms-input-placeholder      { color: $dark-blue;; }


.form__fieldset {
  border: none;
  padding: 0;
  margin: 0;
  @media ($tablet-widths) {
    background: #fff;
    border: 1px solid #c0c0c0;
    padding: 10px 20px;
    &--textarea {
      padding: 0 60px 40px;
    }
  }
}

.form__legend {
  font-size: 14px;
  line-height: 18px;
  color: $pink;
  text-align: center;
  text-transform: uppercase;
  padding: 40px;
  &--textarea {
    padding-bottom: 20px;
  }
  &--checkboxes {
    padding: 30px;
  }
  @media ($tablet-widths) {
    &--checkboxes {
      padding: 40px;
    }
  }
  @media ($desktop-widths) {
    padding-bottom: 40px;
    &--checkboxes {
      padding-bottom: 34px;
    }
  }
}

.form__input-container {
  @media ($tablet-widths) {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  @media ($desktop-widths) {
    flex-direction: row;
  }
}

.form__input-area {

  @media ($tablet-widths) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-basis: 100%;
    padding: 0 40px;
    box-sizing: border-box;
  }
  @media ($desktop-widths) {
    flex-basis: 375px;
    padding: 0;
  }
}

.form__label {

}

.form__checkbox-container {

  @media ($desktop-widths) {
    display: flex;
    justify-content: space-around;
  }
}
.form__checkbox-group {
  @media ($desktop-widths) {

  }
}
.form__checkbox-text {
  display: block;
  position: relative;
  font-size: 18px;
  line-height: 30px;
  padding-left: 79px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 42px;
  @media ($tablet-widths) {
    padding-bottom: 50px;
    padding-left: 100px;
  }
  @media ($desktop-widths) {
    padding-left: 70px;
    padding-bottom: 45px;
  }
  &::before {
    content: "";
    display: block;
    position: absolute;
    left: 10px;
    top: 6px;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    background: #fff;
    border: 2px solid #e5e5e5;
    @media ($tablet-widths) {
      left: 40px;
      top: -5px;
      width: 35px;
      height: 35px;
    }
    @media ($desktop-widths) {
      left: 20px;
      top: -2px;
    }
  }

}

.form__checkbox {
  display: none;
  &:checked ~ .form__checkbox-text::before {
    background: #fff url("../img/icon-yes.svg") center no-repeat;
    background-size: 70%;
  }
}

.form__tel {
  font-size: 18px;
  line-height: 30px;
  color: $dark-blue;
  border: 2px solid #e5e5e5;
  border-radius: 5px;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  order: -1;
}
.form__email {
  font-size: 18px;
  line-height: 30px;
  color: $dark-blue;
  border: 2px solid #e5e5e5;
  border-radius: 5px;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 50px;
  order: -1;
  @media($tablet-widths) {
    margin-bottom: 0;
  }
}

.form__radio-text {
  display: block;
  position: relative;
  font-size: 18px;
  line-height: 30px;
  padding-left: 80px;
  padding-right: 10px;
  padding-bottom: 45px;
  @media ($tablet-widths) {
    padding-left: 110px;
  }
  @media ($desktop-widths) {
    padding-left: 90px;
  }
  &::before {
    content: "";
    display: block;
    position: absolute;
    left: 12px;
    top: -4px;
    box-sizing: border-box;
    width: 35px;
    height: 35px;
    background: #fff;
    border: 2px solid #e5e5e5;
    border-radius: 50%;
    @media ($tablet-widths) {
      left: 50px;
    }
    @media ($desktop-widths) {
      left: 40px;
    }
  }
}
.form__radio {
  display: none;
  &:checked ~ .form__radio-text::before {
    background: $pink;
    border: 10px solid #fff;
    box-shadow: 0px 0px 0px 2px #e5e5e5;
  }
}
.form__textarea {
  font-size: 18px;
  line-height: 30px;
  color: $dark-blue;
  padding: 10px 30px;
  width: 100%;
  min-height: 200px;
  box-sizing: border-box;
  border: 2px solid #e5e5e5;
  @media ($tablet-widths) {
    padding: 15px;
  }
  @media ($desktop-widths) {
    min-height: 120px;
    padding: 10px 20px;
  }
}
.form__button {
  display: block;
  margin: 0 auto;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  background: #2aab6d;
  border: none;
  outline: none;
  border-radius: 2px;
  padding: 15px 45px;
  margin-top: 40px;
  @media ($tablet-widths) {
    margin: 0;
    padding: 17px 57px;
  }
  @media ($desktop-widths) {
    padding: 10px 45px;
  }
}
.form__notice {
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding-top: 40px;
  @media ($tablet-widths) {
    margin-left: auto;
  }
}
.form__star {
  color: $pink;
}
