.gallery {

}
.gallery__wrapper {
  max-width: 280px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @media ($tablet-widths) {
    max-width: 620px;
  }
  @media ($desktop-widths) {
    max-width: 940px;
  }
}
.gallery__item {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  &--panorama {
    padding-left: 0;
    padding-right: 0;
  }
  @media ($tablet-widths) {
    flex-basis: 300px;
    padding: 0;
    padding-bottom: 20px;
  }
}
.gallery__image {
  display: block;
  @media ($tablet-widths) {
    width: 300px;
    &--fullwidth {
      width: 100%;
    }
  }

}
.gallery__info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 20px 15px;
  background: #f2f2f2;
  &--panorama {
    flex-direction: row;
    max-width: 280px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 10px 15px;
  }
  @media ($tablet-widths) {
      min-height: 130px;
      &--panorama {
        max-width: 620px;
      }
  }
  @media ($desktop-widths) {
      &--panorama {
        max-width: 940px;
      }
  }
}
.gallery__author {
  margin: 0;
  padding: 0;
}
.gallery__name {
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
}
.gallery__date {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  text-transform: uppercase;
}
.gallery__message {
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  &--panorama {
    order: 2;
  }
}
.gallery__like-block {
  margin-top: auto;
  &--panorama {
    margin-top: 0;
    margin-right: auto;
    order: 3;
    @media ($tablet-widths) {
      margin-left: auto;
      margin-right: 0;
      order: 0;
    }
  }
}
.gallery__like {
  text-decoration: none;
}
.gallery__heart {

}
.gallery__like-text {
  font-size: 12px;
  line-height: 24px;
  color: $pink;
  text-transform: uppercase;
  padding-left: 15px;
}
.gallery__like-count {
  font-size: 12px;
  line-height: 24px;
  color: $pink;
}
