.price {
  background: #f2f2f2;
  &::before {
    content: "";
    display: block;
    height: 50px;
    background-image: linear-gradient(to right bottom,#fff 50%,#f2f2f2 50%);
    @media ($tablet-widths) {
      height: 70px;
    }
  }
  @media ($desktop-widths) {
    min-height: 525px;
    box-sizing: border-box;
  }
}

.price__wrapper {
  @include wrapper;
  padding-top: 45px;
  @media ($tablet-widths) {
    padding-top: 0;
  }
}
.price__list {
@include ul-reset;
  @media ($tablet-widths) {
    padding-bottom: 40px;
    padding-left: 20px;
  }
  @media ($desktop-widths) {
    padding-top: 80px;
    padding-left: 10px;
  }
}

.price__item {
  display: inline-block;
  vertical-align: top;
  width: 280px;
  &--left {
    display: none;
  }
  @media ($tablet-widths) {
    width: 155px;
    &--left {
      display: inline-block;
    }
  }
  @media ($desktop-widths) {
    width: 235px;
  }
}

.price__header {
  position: relative;
  background: $dark-blue;
  border: 1px solid white;
  &--left {
    min-height: 82px;
    background: inherit;
    border: none;
    @media ($desktop-widths) {
      min-height: 102px;
    }
  }
  &--hit::before {
    content: "Хит";
    display: block;
    position: absolute;
    width: 74px;
    height: 73px;
    color: #fff;
    background-image: url("../img/hit.png");
    background-size: 74px 73px;
    background-repeat: no-repeat;
    font-size: 0;
    line-height: 30px;
    font-weight: 500;
    text-align: center;
    @media ($tablet-widths) {
      background-position: -6px -6px;
    }
    @media ($desktop-widths) {
      background-position: top left;
    }
  }
}

.price__title {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  padding-top: 20px;
  margin: 0;
  @media ($tablet-widths) {
    padding-top: 15px;
    font-size: 16px;
  }
  @media ($desktop-widths) {
    font-size: 18px;
    padding-top: 20px;
  }
}

.price__rate {
  display: block;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 20px;
  @media ($tablet-widths) {
    font-size: 18px;
    padding-bottom: 5px;
  }
  @media ($desktop-widths) {
    font-size: 24px;
    padding-bottom: 20px;
  }
}

.price__body {
  font-size: 0;
  background: #fff;
  &--left {
    display: none;
    @media ($tablet-widths) {
      display: block;
    }
  }
}

.price__row {
  display: flex;
  justify-content: space-around;
  font-size: 14px;
  line-height: 30px;
  color: $dark-blue;
  text-transform: uppercase;
  outline: 1px solid #e5e5e5;
  @media ($tablet-widths) {
    text-align: center;
    text-transform: capitalize;
    &--left {
      justify-content: flex-start;
    }
  }
  @media ($desktop-widths) {
    padding: 7px;
    font-size: 18px;
  }
}

.price__option {
    text-align: left;
    @media ($tablet-widths) {
      padding: 8px 15px;
    }
    @media ($desktop-widths) {
      margin-right: auto;
    }
}

.price__attribute {
  display: inline-block;
  vertical-align: middle;
  padding: 15px;
  width: 150px;
  @media ($tablet-widths) {
    padding: 25px;
    display: none;
  }
}

.price__value {
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  @media ($tablet-widths) {
    height: 46px;
  }
  &--yes {
    background: #fff url("../img/icon-yes.svg") center no-repeat;
    background-size:  31px, 21px;
  }
  &--no {
    background: #fff url("../img/icon-no.svg") center no-repeat;
    background-size:  27px, 26px;
  }
}

.price__toggles {
  padding-top: 30px;
  padding-bottom: 50px;
  @media ($tablet-widths) {
    display: none;
  }
}

.price__toggle {
  width: 8px;
  height: 8px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  background-color: rgba(40, 54, 69, .3);
  margin: 0 7px;
  &:hover {
    cursor: pointer;
  }
}

#price-input-1:checked ~ .price__toggles .price__toggle--1,
#price-input-2:checked ~ .price__toggles .price__toggle--2,
#price-input-3:checked ~ .price__toggles .price__toggle--3 {
    background-color: #fff;
    border: 3px solid #283645;
    box-sizing: border-box;
    width: 11px;
    height: 11px;
}

#price-input-1:checked ~ .slider__inner .slider__slides {
    transform: translate(20px);
    @media ($tablet-widths) {
      transform: none;
    }
}

#price-input-2:checked ~ .slider__inner .slider__slides {
    transform: translate(-260px);
    @media ($tablet-widths) {
      transform: none;
    }
}

#price-input-3:checked ~ .slider__inner .slider__slides {
    transform: translate(-520px);
    @media ($tablet-widths) {
      transform: none;
    }
}
