.promo {
  display: flex;
  min-height: 665px;
  box-sizing: border-box;
  background-image: url("../img/iphone-hand-mobile@1x.png");
  background-position: left 105px;
  background-size: 255px;
  @media
  (min-resolution: 144dpi),
  (min-resolution: 1.5dppx) {
      background-image: url("../img/iphone-hand-mobile@2x.png");
  }
  background-repeat: no-repeat;
  @media ($tablet-widths) {
    display: block;
    background-position: right bottom;
    background-image: url("../img/iphone-hand-tablet@1x.png");
    @media
    (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
        background-image: url("../img/iphone-hand-tablet@2x.png");
    }
    min-height: 620px;
    background-size: 700px;
  }
  @media ($desktop-widths) {
    background-image: url("../img/iphone-hand-desktop@1x.png");
    @media
    (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
        background-image: url("../img/iphone-hand-desktop@2x.png");
    }
    background-size: 1055px;
    min-height: 743px;
  }
  @media (min-width: 1200px) {
    background-position: 60% bottom;
  }
  &--short {
    min-height: auto;
    background: none;
  }
}
.promo__wrapper {
  margin-top: auto;
  flex-basis: 100%;
  @media ($tablet-widths) {
  @include wrapper;
  }
    @media ($desktop-widths) {

    }
}
.promo__menu {
  min-height: 70px;
  @media ($tablet-widths) {
    min-height: 110px;
  }
 }
.promo__block {
  @media ($tablet-widths) {
    width: 340px;
    padding-top: 60px;
  }
  @media ($desktop-widths) {
    width: 300px;
    padding-top: 0;
    padding-left: 10px;
  }
}

.promo__title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  text-align: center;
  color: #fff;
  padding: 30px 45px 50px;
  margin: 0;
  @media ($tablet-widths) {
    font-size: 40px;
    line-height: 50px;
    padding-bottom: 0;
    padding-right: 50px;
    &--short {
      font-size: 50px;
      line-height: 60px;
      padding: 70px 30px 80px;
    }
  }
  @media ($desktop-widths) {
    font-size: 50px;
    padding: 0;
    line-height: 60px;
    padding-top: 110px;
    padding-bottom: 50px;
    padding-right: 40px;
    &--short {
      padding-top: 65px;
      padding-bottom: 100px;
    }
  }
  &--hidden {
    display: none;
    @media ($tablet-widths) {
      display: block;
    }
  }
}
