.userpost {
  background: #f2f2f2;
  @media ($desktop-widths) {
    background: #fff;
    padding-bottom: 67px;
  }
}
.userpost__wrapper {
  background: #f2f2f2;
  max-width: 280px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 15px 0px;
  @media ($tablet-widths) {
    max-width: 640px;
    padding: 60px 10px 50px;
  }
  @media ($desktop-widths) {
    max-width: 940px;
    box-sizing: border-box;
    padding: 55px;
  }
}
.userpost__body {

}
.userpost__picture {
  width: 100%;
  @media ($tablet-widths) {
    width: auto;
  }
}
.userpost__image {
  display: block;
  margin: 0 auto;
  width: 100%;
  @media ($tablet-widths) {
    margin: 0;
    padding-top: 0;
    width: 300px;
    height: 400px;
  }
  @media ($desktop-widths) {
    padding-left: 25px;
  }
}
.userpost__options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
  @media ($tablet-widths) {
    flex-basis: 280px;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    padding-top: 0;
  }
  @media ($desktop-widths) {
    flex-basis: 415px;
  }
}

.userpost__effects-container {
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  margin-right: auto;
  justify-content: center;
  @media ($tablet-widths) {
    flex-direction: column;
    flex-basis: auto;
    min-height: 200px;
    justify-content: space-between;
  }
}

.userpost__range-container {
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  min-height: 72px;
  @media ($tablet-widths) {
    flex-basis: auto;
    min-height: 160px;
  }
}

.userpost__effects-item {
  display: inline-block;
  vertical-align: top;
  padding-top: 20px;
  padding-right: 40px;

  &--contrast {
    padding-right: 0;
  }
  @media ($tablet-widths) {
    display: flex;
    align-items: center;
    flex-basis: 100%;
    box-sizing: border-box;
    padding: 0;
    border-bottom: 1px solid rgba(40, 54, 69, .1);
    &--crop {
      order: 0;
      min-height: 60px;
    }
    &--fill {
      order: 1;
      min-height: 72px;
    }
    &--contrast {
      order: 2;
      min-height: 72px;
    }
  }
  &:last-child {
    padding-right: 0;
  }
  &--active {

  }
  @media ($desktop-widths) {
    flex-basis: 100%;
  }
}

.userpost__effects-icon {
  &--crop {

  }
  &--fill {
    margin: auto;
  }
  &--contrast {
  
  }
  @media ($tablet-widths) {
    width: 25px;
    &--contrast {
      width: 15px;
    }
  }
  @media ($desktop-widths) {
    width: 45px;
    &--contrast {
      width: 35px;
    }
  }
}


.userpost__range {
  position: relative;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(40, 54, 69, 0.1);
  &--crop {
    order: 1;
    min-height: 72px;
    margin-top: 10px;
    @media ($tablet-widths) {
      display: block;
      order: 2;
      margin-top: 0;
    }
    @media ($desktop-widths) {
      order: 1;
      min-height: 60px;
    }
  }
  &--fill {
    display: none;
    order: 2;
    @media ($tablet-widths) {
      display: block;
      min-height: 60px;
      order: 1;
    }
    @media ($desktop-widths) {
      order: 2;
      min-height: 72px;
    }
  }
  &--contrast {
    display: none;
    order: 3;
    @media ($tablet-widths) {
      display: block;
      min-height: 72px;
    }
  }
  &::before {
    @include roundicon;
    left: 75%;
    top: 16px;
    @media ($tablet-widths) {
      left: 32%;
    }
  }
  &--fill::before {
    @include roundicon;
    left: 80%;
    top: 27px;
  }
  &--contrast::before {
    @include roundicon;
    left: 56%;
    top: 27px;
  }
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 34px;
    left: 47px;
    width: 240px;
    height: 2px;
    background: $dark-blue;
    @media ($tablet-widths) {
      width: 200px;
    }
    @media ($desktop-widths) {
      width: 290px;
    }
  }
  &--crop::after {
    top: 22px;
    left: 18px;
    @media ($tablet-widths) {
      left: 47px;
    }
  }
}

.userpost__buttons {
  flex-basis: 100%;
  @media ($tablet-widths) {
    display: flex;
    flex-direction: column;
    order: 6;
    margin-top: auto;
  }
  @media ($desktop-widths) {
    flex-direction: row;
  }
}
.userpost__btn {
  display: block;
  width: 280px;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  padding: 15px 35px;
  margin: 25px 0 0;
  box-sizing: border-box;
  font-weight: bold;
  color: $pink;
  background-color: transparent;
  border: 3px solid $pink;
  border-radius: 30px;
  &--disabled {
    margin-top: 15px;
    color: $dark-blue;
    border-color: $dark-blue;
    opacity: .1;
    @media ($tablet-widths) {
      margin-top: 25px;
      margin-left: auto;
    }
    @media ($desktop-widths) {
      margin-left: auto;
    }
  }
  @media ($tablet-widths) {
    width: 260px;
    margin: 25px auto 0;
  }
  @media ($desktop-widths) {
    width: 180px;
    margin: 25px 0 0;
  }
}
