@mixin roundicon() {
  content: "";
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  background: #fff;
  border: 2px solid $pink;
  border-radius: 50%;
  z-index: 1;
}
.userpost {
  background: #f2f2f2;
}
.userpost__wrapper {
  @include wrapper;
  @media ($tablet-widths) {
    display: flex;
    justify-content: space-around;
    padding: 50px 10px;
  }
  @media ($desktop-widths) {
    padding: 60px;
  }
}
.userpost__body {

}
.userpost__image {
  display: block;
  margin: 0 auto;
  padding-top: 20px;
  @media ($tablet-widths) {
    margin: 0;
    padding-top: 0;
  }
}
.userpost__options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @media ($tablet-widths) {
    flex-basis: 280px;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
  }
  @media ($desktop-widths) {
    flex-basis: 420px;
  }
}
.userpost__effects {
  @include ul-reset;
  font-size: 0;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 30px;
  @media ($tablet-widths) {
    padding-top: 0;
  }
}
.userpost__effects-item {
  display: inline-block;
  vertical-align: top;
  padding-top: 20px;
  padding-right: 40px;
  &--contrast {
    padding-right: 0;
  }
  @media ($tablet-widths) {
    padding: 0;
    border-bottom: 1px solid rgba(40, 54, 69, .1);
    &--crop {
      order: 0;
    }
    &--fill {
      order: 1;
    }
    &--contrast {
      order: 2;
    }
  }
  &:last-child {
    padding-right: 0;
  }
  &--active {

  }
  @media ($tablet-widths) {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    flex-basis: 280px;
  }
  @media ($desktop-widths) {
    flex-basis: 100%;
  }
}
.userpost__effects-icon {
  margin-bottom: 15px;
  &--crop {

  }
  &--fill {

  }
  &--contrast {

  }
  @media ($tablet-widths) {
    width: 25px;
  }
  @media ($desktop-widths) {
    width: 45px;
  }
}


.userpost__range {
  position: relative;
  width: 280px;
  height: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  @media ($tablet-widths) {
    width: 200px;
  }
  @media ($desktop-widths) {
    width: 280px;
  }
  &--crop {
    display: none;
    @media ($tablet-widths) {
      display: block;
    }
  }
  &--fill {
    display: none;
    @media ($tablet-widths) {
      display: block;
    }
  }
  &--contrast {
    display: none;
    @media ($tablet-widths) {
      display: block;
    }
  }
  &--mobile {
    margin-top: 10px;
    display: block;
    @media ($tablet-widths) {
      display: none;
    }
  }
  &::before {
    @include roundicon;
    left: 70%;
  }
  &--fill::before {
    @include roundicon;
    left: 20%;
  }
  &--contrast::before {
    @include roundicon;
    left: 50%;
  }
  &--mobile::before {
    @include roundicon;
    left: 190px;
  }
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 6px;
    width: 280px;
    height: 2px;
    background: $dark-blue;
    @media ($tablet-widths) {
      width: 200px;
    }
    @media ($desktop-widths) {
      width: 280px;
    }
  }
}

.userpost__buttons {
  padding-bottom: 30px;
  flex-basis: 100%;
  @media ($tablet-widths) {
    display: flex;
    flex-direction: column;
    order: 6;
    padding-bottom: 0;
    margin-top: auto;
  }
  @media ($desktop-widths) {
    flex-direction: row;
  }
}
.userpost__btn {
  display: block;
  width: 280px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  padding: 15px 35px;
  margin-top: 25px;
  box-sizing: border-box;
  font-weight: bold;
  color: $pink;
  background-color: transparent;
  border: 3px solid $pink;
  border-radius: 30px;
  &--disabled {
    color: $dark-blue;
    border-color: $dark-blue;
    opacity: .1;
  }
  @media ($tablet-widths) {
    width: 260px;
  }
  @media ($desktop-widths) {
    width: 180px;
  }
}
